# Core functionality - changes here should be rare!
/src/app.py                   @k-ishizuka
/src/backend/database.py      @k-ishizuka
/src/backend/routers/auth.py  @k-ishizuka

# The frontend will need refactored soon to be more object oriented.
/src/static/   @k-ishizuka
